font-size: 15px; font-size: 1em; font-size: small;
body {
 background-color: BurlyWood;
}
body {
 background-color: #deb887;
}
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
margin-top: 20px
margin-right: 20px
margin-bottom: 20px
margin-left: 20px
margin: 20px 10px;
